
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>EventPol</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <!--   <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
             <a class="text-muted" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-dark" href="#">Large</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a class="text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
              </a>
              <a class="btn btn-sm btn-outline-secondary" href="logowanie.html">Logowanie</a>
            </div>
          </div>
        </header>-->

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="index">Start</a>
          <a class="p-2 text-muted" href="Oferta">Oferta</a>
          <a class="p-2 text-muted" href="zamowienia">Zamowienia</a>
          <a class="btn btn-warning" href="portfolio">Portfolio</a>
          <a class="p-2 text-muted" href="kontakt">Kontakt</a>
          <a class="p-2 text-muted" href="logowanie">Logowanie</a>
        </nav>
      </div>


      <div class="row">
        <div class="col-12">

          <p class="h1 mb-auto text-center font-weight-bold">Nasze Realizacje</p>
          <div class="card flex-md-row mb-4 box-shadow h-md-1000">
            <div class="card-body d-flex flex-column align-items-start">
              <p class="h3 mb-auto">Firma EuroPol zajmuje się organizowaniem imprez integracyjnych. W naszej ofercie znajdą Państwo ponad 500 urządzeń rozrywkowych. Zapewniamy profesjonalną obsługę urządzeń, animatorów zabaw, konferansjerów, hostessy. Oferujemy wiele ciekawych scenariuszy imprez. W czasie organizowania imprez zachowujemy wysokie standardy bezpieczeństwa. Cała obsługa ukończyła specjalistyczne kursy. Urządzenia są wykonane przez czołowych europejskich producentów i uzyskały polskie certyfikaty bezpieczeństwa. Stawiamy też nacisk na estetykę urządzeń. Nasza firma ma mocną pozycję na rynku, daliśmy się poznać jako solidny partner w interesach. Dzięki zachowaniu odpowiednich procedur mamy 100% powtarzalności świadczonych usług. Dysponujemy rozbudowanym zapleczem logistycznym dzięki czemu organizujemy ponad 1000 wydarzeń rocznie. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ElXgssZaChs" allowfullscreen></iframe>

      </div>

      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eEi0qm9g9uI" allowfullscreen></iframe>

      </div>

      <footer class="blog-footer">
        <p>Paw project</p>

      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
